<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Form</title>
</head>
<body>
<form th:action="@{~/product/remove}" method="post" th:object="${product}">
<input type="hidden" th:field="*{id}">
<table class="table">
<tr>
	<td>Product Name</td>
	<td th:text="${product.Name}"></td>
</tr>
<tr>
	<td>Price</td>
	<td th:text="${product.Price}"></td>
</tr>
<tr>
	<td>Stock</td>
	<td th:text="${product.Stock}"></td>
</tr>
<tr>
	<td>Category ID</td>
	<td th:text="${product.CategoryId}"></td>
</tr>
<tr>
	<td colspan="2" ><input class="btn btn-danger" type="submit" value="Remove Product" align="right"></td>
</tr>

</table>
</form>
<button onclick="javascript:location.replace('/product/index')"><<< Back</button>

</body>
</html>