<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product Form</title>
</head>
<body>
<form th:action="@{~/product/save}" method="post" th:object="${product}">
<input type="hidden" th:field="*{Id}">
<table>
<tr>
	<td>Product Name</td>
	<td><input type ="text" th:field="*{Name}" class="form-control"></td>
</tr>
<tr>
	<td>Price</td>
	<td><input type ="text" th:field="*{Price}" class="form-control"></td>
</tr>
<tr>
	<td>Stock</td>
	<td><input type ="text" th:field="*{Stock}" class="form-control"></td>
</tr>
<tr>
	<td>Category ID</td>
	<td><select class ="form-control"  th:field="*{CategoryId}">
	<option th:each="t : ${category}" th:text="${t.Name}" th:value="${t.CategoryId}"></option></select></td>
	
</tr>
<tr>
	<td colspan="2" align="right"><input class="btn btn-primary" type="submit" value="Save Product"></td>
</tr>

</table>
</form>

</body>
</html>