<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product List</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/jquery.dataTables.min.css}" rel="stylesheet"/>
    
    <script th:src="@{/bootstrap/jquery.min.js}"></</script>
    <script th:src="@{/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    
<style>
html {
	margin:15px;
}

</style>     
</head>
<body>

<nav class="navbar navbar-expand-lg bg-dark">

<span class="navbar-text text-white">
     <h4>Xsis Academy</h4>
  </span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/product/index/">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category/index/">Category ID</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/variant/index/">Variant</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/index/">Home</a>
    </li>
  </ul>
  
</nav>

<div class="modal fade" id="mymodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mytitle">Tambah Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalbody">
        ...
      </div>
    </div>
  </div>
</div>

<button type="button"  class="btn btn-primary" onclick="addform()">+Tambah data</button>

<table id="product" class="display" style="width :100%">
<thead>
<tr>
	<th>Product Name </th>
	<th>Price</th>
	<th>Stock</th>
	<th>Category ID</th>
	<th>Edit</th>
	<th>Delete</th>
</tr>
</thead>
<tbody>
<tr th:each="item : ${product}">
	<td th:text="${item.Name}"></td>
	<td th:text="${item.Price}"></td>
	<td th:text="${item.Stock}"></td>
	<td th:text="${item.categorymodel.Name}"></td>
	<td><button class="btn btn-warning" th:value="${item.Id}" onclick="gotoedit(this.value)">Edit</button></td>
	<td><button class="btn btn-danger" th:value="${item.Id}" onclick="gotodelete(this.value)">Delete </button></td>
</tr>
</tbody>
</table>
<script>

$(document).ready(function() {
    $('#product').DataTable();
} );

function gotoedit(id){
	//location.replace('/product/edit/'+id);
	$.ajax({
		type:'get',
		url:'/product/edit/'+id,
		dataType:'html',
		success:function(data){
			document.getElementById('modalbody').innerHTML = data;
			document.getElementById('mytitle').innerHTML = "Form Edit Produk";
			$('#mymodal').modal();
		}
	})
}
function gotodelete(id){
	//location.replace('/product/delete/'+id);
	$.ajax({
		type:'get',
		url:'/product/delete/'+id,
		dataType:'html',
		success:function(data){
			document.getElementById('modalbody').innerHTML = data;
			document.getElementById('mytitle').innerHTML = "Form Hapus Produk";
			$('#mymodal').modal();
		}
	})
}
function addform(){
	console.log("here");
	$.ajax({
		type:'get',
		url:'/product/form',
		dataType:'html',
		success:function(data){
			document.getElementById('modalbody').innerHTML = data;
			document.getElementById('mytitle').innerHTML = "Form Tambah Produk";
			$('#mymodal').modal();
		}
	})
}
</script>
    
</body>

</html>