<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Variant Form</title>
</head>
<body>
<form th:action="@{~/variant/remove}" method="post" th:object="${variant}">
<input type="hidden" th:field="*{Id}">
<table class="table">

<tr>
	<td>Name</td>
	<td th:text="${variant.Name}"></td>
</tr>
<tr>
	<td>Category ID</td>
	<td th:text="${variant.CategoryId}"></td>
</tr>
<tr>
	<td colspan="2" ><input class="btn btn-danger" type="submit" value="Remove Product" align="right"></td>
</tr>

</table>
</form>
<button onclick="javascript:location.replace('/variant/index')"><<< Back</button>

</body>
</html>