<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>category Form</title>
</head>
<body>
<form th:action="@{~/category/remove}" method="post" th:object="${category}">
<input type="hidden" th:field="*{CategoryId}">
<table class="table">

<tr>
	<td>Name</td>
	<td th:text="${category.Name}"></td>
</tr>
<tr>
	<td colspan="2" ><input class="btn btn-danger" type="submit" value="Remove category" align="right"></td>
</tr>

</table>
</form>
<button onclick="javascript:location.replace('/category/index')"><<< Back</button>

</body>
</html>