<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product List</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet"/>
    
    <script th:src="@{/bootstrap/jquery.min.js}"></</script>
    <script th:src="@{/jquery.dataTables.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    
<style>
html {
	margin:15px;
}
</style>     
</head>
<body background="/lazada.png" >
<nav class="navbar navbar-expand-lg bg-dark">

<span class="navbar-text text-white">
     <h4>Xsis Academy</h4>
  </span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/product/index/">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/category/index/">Category ID</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/variant/index/">Variant</a>
    </li>
     
  </ul>
  
</nav>
</body>
</html>